/* Across website styling */
body {
  margin: 0;
}

h1, h2 {
  text-align: center;
}

/* Styling specefic to the puzzle */

#puzzle-grid-container {
  /* Size of the container will change relative to the size of the window while maintaining its aspect ratio */
  width: 80%;
  aspect-ratio: 1/1;
  /* Centre align grid and maintain even white space around it */
  margin: 10%;
  /* CSS grid styling */
  display: grid;
  grid-template-columns: [left] 1fr [middle] 1fr [right] 1fr; /* Value of 1fr causes the space to be evenly distributed */
  grid-template-rows: [top] 1fr [center] 1fr [bottom] 1fr;
}

.grid-box {
  border: 1px solid black;
  background-size: cover;
  /* Animation settings that will activate once the clicked tile is given an animation name*/
  position: relative;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-play-state: running;
}

/* Animations for tile slides activated in JavaScript 
functions: tileSlideDown, tileSlideUp, tileSlideLeft tileSlideRight */
@keyframes down-slide {
  from {
    top: 0;
  }
  to {
    top: 100%;
  }
}

@keyframes up-slide {
  from {
    bottom: 0;
  }
  to {
    bottom: 100%;
  }
}

@keyframes left-slide {
  from {
    right: 0;
  }
  to {
    right: 100%;
  }
}

@keyframes right-slide {
  from {
    left: 0;
  }
  to {
    left: 100%;
  }
}

/* Styling for the three modal pop-ups. The following was created following the steps given in 
    'How To - CSS/JS Modal' by W3 Schools https://www.w3schools.com/howto/howto_css_modals.asp */
.modal {
  display: none; /* The modals will not be displayed until activated by JavaScript */
  position: fixed;
  z-index: 1;
  width: 70%;
  height: 70%;
  left: 15%;
  top: 10%;
  background-color: white;
  border: 4px solid black;
}

.modal-content {
  margin: 5% auto;
  width: 90%;
}

.close {
  float: right;
  width: 40px;
  height: 40px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

.close:hover, .close:focus {
  color:black;
  text-decoration: none;
  cursor: pointer;
}

#sneaky-peek-pic {
  width: 100%;
}